{% extends "layout_dashboard.html" %}
{% load static %}
{% load i18n %}
{% block title %}
{% trans 'Dashboard' %} | {% trans 'HOME' %}  {{ block.super }}
{% endblock %}
{% block body_class %}hold-transition sidebar-mini{% endblock %}
{% block layout %} 
<div class="wrapper">
   <!-- Header, Logo -->
   {% block header %}
   {{ block.super }}
   <!-- /.login-logo -->
   {% endblock %}
   {% block content %}
   <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 1602px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ object.get_full_name }}'s profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Teacher List</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Subject Detail</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
               {% for sub in object.subjects.all %}
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">{{ sub.code }}</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ sub.name }}</span>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Profile Details</h4>
                    <div class="post">
                      <div class="user-block">
                        <img class="img-circle img-bordered" src="{{ object.profile_pic.url }}" alt="user image">
                        <span class="username">
                          <a href="#">{{ object.email }}</a>
                        </span>
                        <span class="username">
                          <a href="#">{{ object.phone_number }}</a>
                        </span>
                        <span class="username">
                          <a href="#">Room No: {{ object.room_number }}</a>
                        </span>
                        <span class="description">Added at  - {{ object.updated_date }}</span>
                      </div>
                      
                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i></a>
                      </p>
                    </div>

                   
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
   <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}
{% block footer %}
{{ block.super }}
{% endblock %}
</div>
{% endblock %}