<div class="filter_tag" style="text-align: center;">
  <h5 lass="text-center display-4"> filter by first letter of last name </h5>
	<button class="btn btn-primary active" value="" type="button">All</button>
	<button class="btn" value="A" type="button">A</button>
	<button class="btn" value="B" type="button">B</button>
	<button class="btn" value="C" type="button">C</button>
	<button class="btn" value="D" type="button">D</button>
	<button class="btn" value="E" type="button">E</button>
	<button class="btn" value="F" type="button">F</button>
	<button class="btn" value="G" type="button">G</button>
	<button class="btn" value="H" type="button">H</button>
	<button class="btn" value="I" type="button">I</button>
	<button class="btn" value="J" type="button">J</button>
	<button class="btn" value="K" type="button">K</button>
	<button class="btn" value="L" type="button">L</button>
	<button class="btn" value="M" type="button">M</button>
	<button class="btn" value="N" type="button">N</button>
	<button class="btn" value="O" type="button">O</button>
	<button class="btn" value="P" type="button">P</button>
	<button class="btn" value="Q" type="button">Q</button>
	<button class="btn" value="R" type="button">R</button>
	<button class="btn" value="S" type="button">S</button>
	<button class="btn" value="T" type="button">T</button>
	<button class="btn" value="U" type="button">U</button>
	<button class="btn" value="V" type="button">V</button>
	<button class="btn" value="W" type="button">W</button>
	<button class="btn" value="X" type="button">X</button>
	<button class="btn" value="Y" type="button">Y</button>
	<button class="btn" value="Z" type="button">Z</button>
</div>